/* ===================================================
ZENSO Landing Page - Main Stylesheet
Description: All styles for b12a01-landing-launchpad
Author: Abdullah Al Mamun
Date: July 2025
=================================================== */

/* Universal Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Element Styles */
body {
  background-color: #f5f8ff;
}

a {
  text-decoration: none;
}

img {
  /* Add Later */
}

/* Utility Classes */
.container {
  margin: 0px auto 120px;
}

.text-center {
  text-align: center;
  align-items: center;
}

.cta-btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #9403fd, #00adfe);
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px #9403fd, 0px 4px 3px rgba(0, 0, 0, 0.3);
}

.cta-btn:hover,
.cta-btn:focus {
  background: linear-gradient(to left, #9403fd, #00adfe);
}

/* Header Section */
#header {
  background-image: url(/assets/images/backgrounds/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar Section */
#navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 50px 0px;
  margin: 0px auto 100px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
}

/* Sign Up Button styles with Utility Classes */

/* Banner Section */
#banner {
  width: 60%;
  margin: auto;
  padding-bottom: 150px;
}

.banner-title {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 70px;
}

/* Stay Focused Button styles with Utility Classes */

/* Main Section */
#action-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
  width: 80%;
}

.action-sec-desc h3 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 22px;
}

.action-sec-desc p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 45px;
}

/* Live Launch Preview Button styles with Utility Classes */

.action-sec-img {
  max-width: 500px;
  height: auto;
  border: none;
  border-radius: 48px;
}

#users-sec {
  background-color: rgba(78, 71, 255, 0.1);
  border: none;
  border-radius: 24px;
  width: 75%;
  padding: 50px 80px;
}

#users-sec h3 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.users {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.users-info h4 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
  margin-bottom: 10px;
}

.users-info p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

#users-review {
  width: 75%;
}

#users-review h3 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 60px;
}

.user-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  background-color: #ffffff;
  overflow: hidden;
  width: 30%;
  padding: 24px;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.user-card:hover {
  transform: scale3d(1.03, 1.03, 1.03);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

.stars img {
  max-width: 48px;
  height: auto;
}

.user-review h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-review p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.user-img {
  max-width: 50px;
  height: auto;
}

.user-name h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.user-name p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

#focus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 75%;
  background-color: #ffffff;
  border: none;
  border-radius: 14px;
  padding: 70px 150px;
}

#focus-section h3 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
}

#focus-section p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 14px;
}

#focus-section a {
  margin-bottom: 48px;
}

#focus-section img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 48px;
}
